.feed {
    flex: 0.7;
    color: #fff;
}

.feed__chartSection {
    display: flex;
    flex-direction: column;
}

.feed__portfolio h1 {
    margin: 0;
}

.feed__portfolio p {
    margin: 0;
}

.feed__chart {
    width: 100%;
}